/*Colors used in project:
#EE7879 - dark pink
#2A3166 - dark blue
#F4ABAA - pink
#CAE7DF - light blue
#dc3545 - danger red
#09c372 - mint green
*/

.main-container {
  color: #09c372;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.main-card {
  background-color: #2a3166;
  border: solid 1px #09c372;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  width: 320px;
}
