/*Colors used in project:
#EE7879 - dark pink
#2A3166 - dark blue
#F4ABAA - pink
#CAE7DF - light blue
#dc3545 - danger red
#09c372 - mint green
*/

.main-container {
  color: #09c372;
  justify-content: center;
  margin: 20px 5% 0 5%;
}
