.card-name {
  font-size: 10pt;
  word-break: break-word;
  text-align: center;
  margin: 0;
}

.card-expansion {
  font-size: 8pt;
  word-break: break-word;
  text-align: center;
  color: var(--green);
  margin: 0;
}

.flip-btn {
  background-color: var(--green);
  border-radius: 7px;
  color: var(--black);
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  height: 40px;
  width: 100%;
}

.flip-btn:hover {
  background-color: var(--pink);
  color: var(--white);
  transform: scale(0.9);
  transition: 0.1s;
}

.spinner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 1px var(--green);
  border-radius: 7px;
  color: var(--pink);
  padding: 5px;
  margin: 10px;
}

.btn-row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.spinner-btn {
  background-color: var(--gray);
  border-radius: 7px;
  color: var(--green);
  font-weight: bold;
  width: 30px;
  height: 30px;
  justify-content: center;
  vertical-align: middle;
  margin: 3px;
}

.spinner-btn:hover {
  border: 1px solid var(--pink);
}

.spinner-text {
  color: var(--pink);
  margin: auto 5px auto 5px;
}
