header {
  background-color: var(--blue);
  border-bottom: solid 1px var(--pink);
  box-shadow: 0px 0px 8px var(--pink);
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.brand {
  font-weight: bold;
  align-self: center;
  font-size: 20pt;
  margin-left: 20px;
  color: var(--pink);
  text-decoration: none;
}

.brand:visited {
  color: var(--pink);
}

.hover-icon {
  height: 15px;
  border-radius: 50%;
  visibility: hidden;
  margin: 0 2px;
  animation: spin-svg 1s linear infinite;
}

.nav-links {
  margin: 0 20px 0 0;
  align-self: center;
}

.nav-link {
  text-decoration: none;
  margin-right: 10px;
  padding: 5px;
  font-size: 15pt;
}

.nav-link:visited {
  color: var(--green);
}

.nav-link:hover {
  color: var(--pink);
}

.menu-link:hover .hover-icon {
  visibility: visible;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: ease-in 0.1s;
}

.hamburger-icon {
  cursor: pointer;
  display: none;
  margin: auto 0;
}

.hamburger-icon div {
  background-color: var(--green);
  height: 3px;
  margin: 6px;
  transition: 0.3s;
  width: 35px;
}

.search-form {
  width: 300px;
  margin-right: 20px;
}

.open .hamburger-bar-1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .hamburger-bar-2 {
  opacity: 0;
}

.open .hamburger-bar-3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
}

.mobile-menu {
  display: none;
  height: calc(100vh - 80px);
  left: 0;
  position: absolute;
  top: 81px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.mobile-nav-link {
  text-decoration: none;
  color: var(--green);
  font-size: 35pt;
  margin: 30px 30px;
}

.mobile-nav-link:visited {
  color: var(--green);
}

.mobile-brand {
  color: var(--pink);
}

.mobile-brand:visited {
  color: var(--pink);
}

.mobile-sign-out {
  color: var(--red);
  text-decoration: none;
}

.mobile-sign-out:visited {
  color: var(--red);
  text-decoration: none;
}

@keyframes spin-svg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 975px) {
  .brand {
    display: none;
  }

  .hamburger-icon {
    display: block;
    margin-right: 10px;
  }

  .nav-links {
    display: none;
  }

  .open .mobile-menu {
    justify-content: flex-start;
    align-items: flex-end;
    background-color: var(--gray);
    height: 100vh;
  }

  .search-form {
    margin-left: 10px;
  }
}
