.signIn-card {
  background-color: #2a3166;
  border: solid 1px #09c372;
  border-radius: 7px;
  color: #09c372;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  width: 350px;
}

.signIn-input-field {
  background-color: #222;
  border: solid 1px #09c372;
  border-radius: 7px;
  color: #fac9ca;
  padding: 0;
  margin: 5px;
  text-align: center;
  height: 30px;
}

.signIn-input-field:focus,
.signIn-input-field::placeholder {
  color: #ee7879;
  text-align: center;
}

.submit-btn {
  background-color: #09c372;
  border-radius: 7px;
  color: black;
  padding: 0;
  margin: 5px;
  text-align: center;
  height: 30px;
  width: 80%;
}

.outline-btn {
  background-color: #2a3166;
  border: solid 2px #ee7879;
  border-radius: 7px;
  color: #09c372;
  padding: 0;
  margin: 5px;
  text-align: center;
  height: 30px;
  width: 50%;
}

.outline-btn:hover,
.submit-btn:hover {
  background-color: #ee7879;
  color: white;
  transform: scale(0.9);
  transition: 0.1s;
}

.alert-flag {
  background-color: red;
  border: solid 2px red;
  border-radius: 7px;
  color: white;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  text-align: center;
  height: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
