.signIn-form {
  margin: 10px;
}
.signIn-link {
  text-decoration: none;
  color: var(--green);
  margin: 20px;
}

.signIn-input {
  margin-bottom: 10px;
}

.error-flag {
  background-color: var(--pink);
  border: 1px solid var(--green);
  border-radius: 8px;
  color: var(--black);
  padding: 5px;
  margin: 5px;
  text-align: center;
  height: 40px;
  font-size: 13pt;
}

.message-flag {
  background-color: var(--blue);
  border: 1px solid var(--green);
  border-radius: 8px;
  color: var(--pink);
  padding: 5px;
  margin: 5px;
  text-align: center;
  height: 40px;
  font-size: 13pt;
}
