.signIn-input-field {
  background-color: #222;
  border: solid 1px #09c372;
  border-radius: 7px;
  color: #ee7879;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 95%;
}

.signIn-input-field:focus,
.signIn-input-field::placeholder {
  color: #ee7879;
  text-align: center;
}

.submit-btn {
  background-color: #09c372;
  border-radius: 7px;
  color: black;
  margin: 3px;
  padding: 5px 10px 5px 10px;
  width: 95%;
}

.outline-btn {
  background-color: #2a3166;
  border: solid 2px #ee7879;
  border-radius: 7px;
  color: #09c372;
  margin: 3px;
  width: 45%;
}

.outline-btn:hover,
.submit-btn:hover {
  background-color: #ee7879;
  color: white;
  transform: scale(0.9);
  transition: 0.1s;
}
