/*Colors used in project:
#EE7879 - dark pink
#2A3166 - dark blue
#F4ABAA - pink
#CAE7DF - light blue
#dc3545 - danger red
#09c372 - mint green
#222 - dark gray
*/
html {
  background: #222;
  margin: 0px;
  width: 100%;
}

body {
  margin: 0px;
  width: 100%;
}

h1 {
  color: #ee7879;
}

p {
  color: #09c372;
}

.mainContainer {
  background: #222;
}

.App {
  text-align: center;
  background-color: #222;
  margin: 0px;
}

.mtg-card {
  margin: 10px;
  width: 300px;
}

.page-container {
  color: #09c372;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.responsive-card {
  background-color: #2a3166;
  border: solid 1px #09c372;
  border-radius: 7px;
  color: #09c372;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  width: 80%;
}

.card-title-text {
  color: #ee7879;
  margin: 10px 0 10px 0;
}

/*Styles for Loading Symbol*/
.loading-symbol {
  border: 16px solid #ee7879;
  border-top: 16px solid #09c372;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Styles for modal*/
.modal-container {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #2a3166;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 350px;
  height: 400px;
}

.save-btn {
  background-color: green;
  border-radius: 7px;
  color: white;
  margin: 0 3px 0 3px;
  padding: 5px 10px 5px 10px;
  height: 40px;
  width: 100px;
}
.save-btn:hover {
  background-color: #333;
  border: solid 1px green;
  color: white;
  transform: scale(0.9);
  transition: 0.1s;
}

.cancel-btn {
  background-color: red;
  color: white;
  border-radius: 7px;
  color: white;
  margin: 0 3px 0 3px;
  padding: 5px 10px 5px 10px;
  height: 40px;
  width: 100px;
}
.cancel-btn:hover {
  background-color: #333;
  border: solid 1px red;
  transform: scale(0.9);
  transition: 0.1s;
}

@media only screen and (max-width: 600px) {
  .responsive-card {
    width: 320px;
  }
}
