/*Colors used in project:
#EE7879 - dark pink
#2A3166 - dark blue
#F4ABAA - pink
#CAE7DF - light blue
#dc3545 - danger red
#09c372 - mint green
#222 - dark gray
*/

body,
html,
.mainContainer {
  margin: 0;
  background: #222;
}

.App {
  text-align: center;
  background-color: #222;
  margin: 0px;
}

.mtg-card {
  margin: 10px;
  width: 300px;
}

.page-container {
  color: #09c372;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.responsive-card {
  background-color: #2a3166;
  border: solid 1px #09c372;
  border-radius: 7px;
  color: #09c372;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  width: 80%;
}

.card-title-text {
  color: #ee7879;
}

@media only screen and (max-width: 600px) {
  .responsive-card {
    width: 320px;
  }
}
